
<div class="card">
    <div class="card-body">
        <h5 style="color: rgb(50, 50, 248);">LTI AirWays TERMS OF USE</h5>
        <br>
        <p>

            The main aim for developing this Website is to provide help the customer to book their Airline tickets 
            without going to booking counter or to any other booking vendors. 
            Airline Reservation System is to provide all the information about flight schedule, 
            Search for flight as per passenger preferences, query of seats on particular  flights, 
            arrival and departure time. Customer will be able to view the details related to the reservation. 
            This application is developed using C#, ASP.NET Web Api and Angular 7
            Basic features of website:
            1.	Eye-Catching Website
            2.	Ease Payment Options
            3.	24/7 booking available for customers
            4.	User-Friendly Interface
            5.	Easy Cancellation Process
            6.	Display Terms and Conditions, details and flights to the passengers
            
        </p>
    </div>
</div>

