.card{
    margin-top: 0.5%;
}
.content{
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
h3{
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.text{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
}