<div class="container-fluid main">
    <nav class="navbar navbar-expand-md justify-content-center sticky-top">
      <a class="navbar-brand mr-auto button1" routerLink='home'>Fast AirWays
        <!-- <img class="bg" [src]="photopath" alt="logo" width="10%" height="10%" style="color: white;"> -->
      </a>
        <p class="justify-content-center" style="position: absolute;color: white;">Hi!{{profile.ProfileName}}</p>
        <ul class="navbar-nav mr-right">
          <li class="nav-item">
            <a class="nav-link" routerLink='/home'>Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink='/about'>About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Logout()">Logout</a>
          </li>

          &nbsp;&nbsp;
          

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink='login'>Login</a>
          </li>
          <li class="nav-item register">
            <a class="nav-link"  routerLink='registers'>Register</a>
          </li> -->
          <li class="nav-item register">
            <a class="nav-link" >      </a>
          </li>
          
        </ul>
    </nav>
</div>

