<div *ngIf='terms.ProfileID == null'>
    <app-home-nav></app-home-nav>
  </div>
  <div *ngIf='terms.ProfileID'>
    <app-user-navigation></app-user-navigation>
  </div>
<div class="card">
    <div class="card-body">
        <h5 style="color: rgb(50, 50, 248);">LTI AirWays TERMS OF USE</h5>
        <br>
        <p>

        LTIAirways.com Pvt.Ltd welcomes you (“you”) to its website (the “Site”). References to the Site are deemed to include derivatives of the Site and when the Site is accessed by desk top, mobile phone, tablet or any other device.

        These Terms of Use, as defined further below, apply to our services, directly or indirectly made available to you through whatever means, including online reservations, customer service requests or otherwise. By accessing, browsing and using the Site, you acknowledge and agree to having read, understood and agreed to the Terms of Use without limitation, qualification, or change), our Privacy Policy and any additional terms of booking (including without limitation cancellation and refund terms) which are made available to you on the Site,

        The Terms of Use set out your responsibilities, our responsibilities and the responsibilities of third parties, such as the airlines and other suppliers that provide travel services through this Site. The Site is intended for personal, noncommercial use.
        </p>
    </div>
</div>
